# Build klasörleri
bin/
obj/

# Visual Studio dosyaları
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider ve VS Code
.idea/
.vscode/

# Paketler
*.nupkg
*.snupkg

# Derleme çıktıları
*.dll
*.exe
*.pdb
*.cache
*.vsidx
*.log

# NuGet
project.lock.json
project.fragment.lock.json
artifacts/

# Sourcelink
*.sourcelink.json

# Diğer
*.db-shm
*.db-wal
*.DS_Store